* {
    scrollbar-size: 1 1;
    scrollbar-gutter: stable;
}

$scrollbar: rgb(255, 140, 35);

Screen {
    background: rgb(0, 0, 0);
    scrollbar-color: $scrollbar;
    scrollbar-color-active: $scrollbar;
    scrollbar-color-hover: $scrollbar;
}

Header, Footer {
    background: #101010;
}

Card {
    text-align: center;
    border: #97CAFE round;
    height: auto;
    overflow: hidden hidden;
    color: #EDF5E1;
}

Static {
    text-align: center;
}

Markdown {
    margin: 1 0 0 0;
}

.active {
    background: black;
}

.highlight {
    border: #5cdb95 solid;
    padding: 1;
}

.active .title {
    color: #7abdff;
}

.highlight.active .title {
    color: #6effaf;
}

Button:focus {
    text-style: bold;
}

Progress {
    margin: 1 0 0 0;
}

.buttons {
    align: center middle;
}

.statebutton {
    align: center middle;
    height: 0;
}

.highlight .statebutton {
    height: auto;
}

Progress Button {
    background: rgb(16, 16, 16);
    border: none;
}

Progress Button.-disabled {
    opacity: 1;
    text-opacity: 1;
}

Progress Button:hover {
    background: rgb(32, 32, 32)
}

#plus.-disabled, #minus.-disabled {
    background: rgb(8, 8, 8);
}

.buttons > Button {
    max-width: 5;
}

.statebutton > Button {
    max-width: 15;
    padding: 0 1 0 0; /*To center the text inside the button excluding emoji*/
}
