Screen {
    background: black;
}

Header, Footer {
    background: #101010;
}

* {
    scrollbar-size: 1 1;
    scrollbar-gutter: stable;
}

AnimeCard {
    text-align: center;
    border: white tall;
    height: auto;
    margin: 1 0 0 0;
    overflow: hidden hidden;
}

Static {
    text-align: center;
}

.highlight {
    border: $primary tall;
}

.active {
    background: $panel;
    border: $secondary tall;
}

Button:focus {
    text-style: bold;
}

ProgressSetter {
    margin: 1 0 0 0;
}

.buttons {
    align: center middle;
}

.statebutton {
    align: center middle;
}

.buttons > Button {
    max-width: 5;
}

.statebutton > Button {
    max-width: 15;
}